body {
  background-color: black;
}

.container {
  background-color: #343541;
  width: 80%;
  margin: 60px auto 20px auto;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.answer {
  color: white;
  line-height: 25px;
  font-family: Helvetica, Arial, sans-serif;
  border-left: 3px solid white;
  padding-left: 10px;
}
form {
  padding-bottom: 20px;
  padding-top: 20px;
}

.question-bar {
  width: 85%;
  height: 30px;
  border-radius: 9px;
  padding-left: 10px;
  font-size: 16px;
  background: #2d2e37;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-family: Helvetica, Arial, sans-serif;
}
.submit-button {
  width: 10%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 9px;
  margin-left: 10px;
  background: #2d2e37;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: grey;
}

footer {
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
